# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
*.env

# SSH private keys — NEVER commit
*.pem
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#doc
doc/Checklist.md